#about-pg-nav {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
}

#about-sub-menu.sub-menu.about-pg{
    background-color: rgba(0, 0, 0, 0.6);
}

#lake-welcome {
    scroll-behavior: smooth;
    background-image: url("../images-and-svgs/images/lake-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#lake-text {
    padding: 45vh 3vw 0 3vw;
}

div#text {
    position: relative;
    z-index: 9;  
    background-color: transparent;
    border-radius: 1vh;
    max-width: 45vh;
    transition: background-color 0.25s ease-in-out;
    margin: 0 auto 0 auto;
    height: min(11vh, 50vw);
}

div#text h1 {
    font-size: min(3.5vh, 11vw);
    background-color: transparent;
    border-radius: 1vh;
    max-width: 45vh;
    transition: background-color 0.25s ease-in-out;
    margin: 0 auto;
}

div#text p {
    font-size: 1rem;
}

#location {
    text-align: center;
    padding-top: 5rem;
}

#address ul {
    margin: 0;
}

#address li p {
    margin: 0.5rem;
}

#address h2 {
    color: var(--quickbite-gold);
    margin: 0 auto 0.5rem auto;
}

 #opening-hours {
   margin: 3rem auto;
}

table {
    border: 3px solid var(--quickbite-gold);
    text-align: center;
    margin: 0 auto;
    width: 17rem;
    border-collapse: collapse;
}

#opening-hours-heading {
    padding-right: 0.5rem;
}

.day {
    text-align: left;
    padding-left: 1.5rem;
}

@media (max-width: 400px) {
    table {
        max-width: 14rem;
    }

    .day {
        padding-left: 1rem;
    }
    
}