
#parallax-lake {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.parallax-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}

#background {
    z-index: 3;
}

#middle {
    z-index: 5;
}

#foreground {
    z-index: 6;
}

#foreground-2 {
    z-index: 1;
}

div#text {
    position: relative;
    z-index: 6;
    padding: 0 1rem;
    margin: 20vh auto 0 auto;
}

div#text h1 {
    font-size: 3.5vh;
}

div#text p {
    font-size: 1rem;
}

p#scroll-prompt {
    animation-name: slow-fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes slow-fade {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}


#main {
    z-index: 3;
}

#location {
    text-align: center;
}

#address ul {
    margin: 0;
}

#address li p {
    margin: 0.5rem;
}

#address h2 {
    color: var(--quickbite-gold);
    margin: 0 auto 0.5rem auto;
}

 #opening-hours {
   margin: 3rem auto;
}

table {
    border: 3px solid var(--quickbite-gold);
    text-align: center;
    margin: 0 auto;
    width: 17rem;
    border-collapse: collapse;
}

#opening-hours-heading {
    padding-right: 0.5rem;
}

.day {
    text-align: left;
    padding-left: 1.5rem;
}

@media (max-width: 400px) {
    table {
        max-width: 14rem;
    }

    .day {
        padding-left: 1rem;
    }
    
}