.button-container {
    display: block;
    margin: 0.5vh auto;
    height: 3rem;
    width: 6rem;
    background-color: transparent;
    text-align: center;
}

.down.button-container {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 3rem);
    right: calc(50% - 3rem);
}

.button-link {
    display: inline-block;
    width: 6rem;
    height: 3rem;
}

.button-link p {
    display: none;
    text-align: center;
    height: 3rem;
    font-size: min(6vw, 0.9rem);
    padding: 0;
    margin: 1rem auto;
}

.button-link #continue-prompt {
    color: var(--quickbite-gold);
    font-size: min(8vw, 1rem);
}

.button {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 15px;
    min-width: 20px;
    background-color: transparent;
    transition: background-color 0.5s;
    margin: 0 auto;
}

