.down-button-container {
    display: block;
    margin: 0 auto;
    height: 2vh;
    width: 3vh;
}

.button {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 15px;
    min-width: 20px;
    background-color: transparent;
    border: 2px solid var(--quickbite-red);
    border-radius: 4px;
    transition: background-color 0.5s;
}

.button.responsive {
    margin: 1rem auto;
    stroke: #e8574d;
    border: 2px solid white;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(220, 146, 56);
}


.button.responsive:hover {
    background-color: rgba(255, 255, 255, 0.5)
}

.side-button-container {
    display: inline-block;
    margin: 0 auto 1rem auto;
    height: 1.5rem;
    width: 2rem;
    background-color: var(--quickbite-red);
    text-align: center;
}

.button.side {
    margin: 1rem auto;
    height: 100%;
    width: 100%;
    border: 2px solid var(--quickbite-gold);
    background-color: var(--quickbite-red);
}

.button.side:hover {
    background-color: rgb(245, 91, 79);
}


.side-button-container.alt {
    background-color: var(--quickbite-gold);
}

.button.side.alt {
    border: 2px solid var(--quickbite-red);
    background-color: var(--quickbite-gold);
}
