.down-button-container {
    display: block;
    margin: 0.5vh auto;
    height: 3rem;
    width: 6rem;
    text-align: center;
}


#down-button-link {
    display: inline-block;
    width: 6rem;
    height: 3rem;
}

#down-button-link p {
    display: none;
    text-align: center;
    height: 3rem;
    font-size: min(6vw,0.9rem);
    padding: 0;
    margin: 1rem auto;
}



/* sort out above properties*** */

.button {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 15px;
    min-width: 20px;
    background-color: transparent;
    border: 2px solid var(--quickbite-red);
    border-radius: 4px;
    transition: background-color 0.5s;
}

.button.responsive {
    margin: 0 auto;
    stroke: #e8574d;
    border: none;
   width: 5rem;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(220, 146, 56);

}

.button.responsive:hover {
    background-color: transparent;
}

.side-button-container {
    display: inline-block;
    margin: 0 auto 1rem auto;
    height: 1.5rem;
    width: 2rem;
    background-color: var(--quickbite-red);
    text-align: center;
}

.button.side {
    margin: 1rem auto;
    height: 100%;
    width: 100%;
    border: 2px solid var(--quickbite-gold);
    background-color: var(--quickbite-red);
}

.button.side:hover {
    background-color: rgb(245, 91, 79);
}


.side-button-container.alt {
    background-color: var(--quickbite-gold);
}

.button.side.alt {
    border: 2px solid var(--quickbite-red);
    background-color: var(--quickbite-gold);
}


