.non-menu.content.alt {
    max-width: 700px;
    margin: 10rem auto 0 auto;
}

.non-menu.alt h2 {
    color: var(--quickbite-red);
}

.non-menu.alt h3 {
    color: var(--quickbite-red);
}

.non-menu.alt p {
    margin-bottom: 1rem;
}
#design li {
    margin-top: 0.5rem;
}

#design span.logo-text.alt {
    font-size: 1.1rem;
}

#logo-grid {
    width: 36rem;
    margin: 0 auto 1.5rem auto;
    display: grid;
    grid-template-columns: 12rem 12rem 12rem;
    justify-content: center;
}

#logo-grid div {
background-color: rgb(197, 131, 50);
}

#logo-grid img {
    max-height: 10rem;
    margin: 1.5rem;
}

#lake-image {
    display: block;
    margin: 0 auto; 
    width: 90vw;
    object-fit: cover;
    max-width: 700px;
}

#contact-me {
    margin: 3rem 0;
}

#contact-list {
    max-width: 400px;
}

#contact-list li {
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-list li div {
    margin: 1rem;
}

.non-menu.alt #contact-list p {
    margin: 0;
}

#contact-list img {
    height: 1.5rem;
    
}

#email:hover {
    cursor: pointer;

}

@media (max-width: 650px) {
    #logo-grid {
        grid-template-columns: 40vw 40vw;
        width: 80vw;
        
    }

    #logo-grid img {
        margin: 5vw;
    }
}
