html.alt {
    background-color: #F19E39;
}

nav.alt {
    background-color: rgba(232, 87, 77, 0.9);
}

#menu {
    padding: 0 1.2rem;
}

#welcome-text {
    margin: 4rem auto 2.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#welcome-text h1 {
    margin: 0 1.5rem;
    color: white;
    font-weight: 600;
}

#welcome-text img {
    height: 2rem;
}

#category-welcome-text {
    display: flex;
    align-items: center; 
}

#category-welcome-text img {
    height: 1.5rem;
}

#menu h2 {
    margin: 0 1rem;
}

#menu h3 {
text-align: left;
color: var(--quickbite-red);
margin: 0.5rem 0 0 0;
}

#menu p.category-description, #menu p.dishtype-description {
    padding-left: 0;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#menu h4 {
    margin: 0 0 0 0;
    text-align: left;
    font-weight: 800;
    color: var(--quickbite-red);
}

#menu p {
    text-align: left;
}

.menu-list-item h2 {
    margin: 0;
    color: var(--quickbite-red);
}

.individual-list-item {
    margin: 0.5rem 0rem 1rem 0rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.ingredients {
    font-weight: 400;
    margin: 0 ;
}

.individual-description {
    font-weight: 600;
    margin: 0;
}

.menu-list-item {
    margin: 3rem 0;
}

p.category-description {
    margin-bottom: 0.5rem;
}

.dishtype-list-item {
    margin-bottom: 1.5rem;
}