#menu {
    text-align: center;
    max-width: 700px;
}

#welcome-text p#menu-description {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 600;
}

#title-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-text {
    margin: 7rem auto 1rem auto;
    padding: 1rem;
    background-color: var(--quickbite-red);
    max-width: 50%; 
    color: var(--quickbite-gold);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#welcome-text h1 {
    margin: 0rem;
    font-weight: 600;
    color: white;
}

#welcome-text img {
    min-height: 1rem;
    height: 5vw;
    max-height: 2rem;
    margin: auto 1rem;
}

.category-welcome-text {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.category-welcome-text img {
    height: 1.5rem;
}

#menu h2 {
    margin: 0 1rem;
}

#menu h3 {
/* text-align: left; */
color: var(--quickbite-red);
margin: 0.5rem 0 0 0;
font-size: 1.25rem;
}

#menu p.category-description, #menu p.dishtype-description {
    padding-left: 0;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#menu h4 {
    margin: 0 0 0 0;
    /* text-align: left; */
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--quickbite-red);
}

.menu-list-item {
    margin:  1rem 0;
    background-color: var(--quickbite-gold);
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-list-item h2 {
    margin: 0;
    color: var(--quickbite-red);
}

.individual-list-item {
    margin: 0.5rem 0rem 0rem 0rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.ingredients {
    font-weight: 400;
    margin: 0 ;
}

.individual-description {
    font-weight: 600;
    margin: 0;
}



p.category-description {
    margin-bottom: 0.5rem;
}

.dishtype-list-item {
    margin-top: 1rem;
}

.price {
    font-weight: bold;
}

#menu-continue-prompt {
    background-color: var(--quickbite-red);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 1rem;
    max-width: 50%;
    margin: 1rem auto;
    
}

#menu-continue-prompt h1 {
    margin: 0 auto;
}