:root {
 --quickbite-red: #e8574d;
 --quickbite-gold: #F19E39; 
}

::-webkit-scrollbar {
    width: 0.6rem;
}
  
::-webkit-scrollbar-track {
    background: rgb(200, 200, 200);
}
  
::-webkit-scrollbar-thumb {
    background: rgb(225, 225, 225);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

html {
background-color: var(--quickbite-red);
padding: 0;
}

html.background-image {
    background-image: url("../images-and-svgs/images/blue-brick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

html.alt {
    background-color: #F19E39;
}

body {
    margin: 0;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    margin: 0 auto;
}

#welcome-section { 
    background-color: var(--quickbite-gold);
}

.landing {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url("../images-and-svgs/svgs/logos/QuickBite-logo-red-no-fill-whiteteeth.svg");
    background-repeat: no-repeat;
    background-size: min(70%, 60vh, 700px) auto;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
    margin: 0 auto;
    padding: 0 1.2rem;
    max-width: 1000px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin: 3rem auto 2rem auto;
}

#welcome-section h1 {
    font-family: 'Baloo 2', cursive;
    font-size: min(3.5vh, 10vw);
    font-weight: 600;
    color: white;
    margin: 0 auto;
}

#welcome-text {
    padding: 75vh 3vw 0 3vw;
}

#text-and-button {
    background-color: transparent;
    border-radius: 1vh;
    max-width: 45vh;
    transition: background-color 0.25s ease-in-out;
    height: min(17vh, 55vw);
    margin: 0 auto;
}

.logo-text-main {
    font-family: 'Grenze Gotisch', cursive;
    color: var(--quickbite-red);
    font-size: 4vh;
}


.logo-text {
    font-family: 'Grenze Gotisch', cursive;
    color: var(--quickbite-red);
}

#welcome-section .logo-text {
    font-size: 4vh;
}

nav {
    /* background-color: transparent; */
    background-color: rgba(241, 158, 57, 1);
    /* background-color: rgba(255, 255, 255, 0.4); */
    display: flex;
    justify-content: space-between;
    height: 22vw;
    max-height: 6rem;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    border-bottom:  1px solid rgba(255, 255, 255, 0.5);
}

nav.alt {
    background-color: rgba(232, 87, 77, 1);
}

nav.alt #nav-bar li .sub-menu {
    background-color: rgba(232, 87, 77, 1);
}

nav.alt #nav-bar li p:hover {
    color: var(--quickbite-gold);
}

nav.alt #nav-bar li .sub-menu p:hover {
    color: var(--quickbite-gold);
}

nav.alt #nav-bar li p.active {
    color: var(--quickbite-gold);
}

@keyframes slideInFromTop{
    0%  {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromRight{
    0%  {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

#logo-small {
    opacity: 1;
    max-width: 5rem;
    width: 18vw;
    margin: 1rem;
    animation: 0.75s ease-in-out 0s 1 slideInFromTop;
}

#nav-button {
    display: none;
    height: 34px;
    width: 34px;
    border: 1px transparent white;
    border-radius: 6px;
    margin: 1rem;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    animation: 0.5s ease-in-out 0s 1 slideInFromRight;
}

.nav-line {
    max-height: 2px;
    min-height: 2px;
    max-width: 23px;
    min-width: 23px;
    background-color: white;
    margin: 7px 6px;
}

#nav-bar {
    white-space: nowrap;
    display: flex;
    list-style: none;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    animation: 0.75s ease-in-out 0s 1 slideInFromRight;
}

#nav-bar li {
    margin: 0 1rem;
    width: 100px;
    text-align: center;
}

#nav-bar li p:hover {
    color: var(--quickbite-red);
}

#nav-bar li p a {
    height: 1.5rem;
}

.sub-menu-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-menu-title-wrapper img {
    height: 1.5rem;
    width: 1.5rem;
}

#nav-bar li p img {
    height: 1.5rem;
}

#nav-bar li .sub-menu {
    font-size: 1.1rem;
    position: absolute;
    height: auto;
    margin: 0;
    padding: 1rem 0 1rem 0;
    display: none;
    background-color: rgba(241, 158, 57, 1);
}

#nav-bar li .sub-menu li {
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

#nav-bar li:hover .sub-menu {
    display: block;
}

#nav-bar li .sub-menu>:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

#nav-bar li:hover .sub-menu-title-wrapper img {
    transform: rotate(90deg);
}

#nav-button-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--quickbite-red);
    margin: 0;
    display: none;
    height: 100vh;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
}

#nav-button-menu li .sub-menu {
    display: none;
}

#nav-menu-exit img {
    display: block;
    margin: 5vh auto;
    height: 34px;
    width: 34px;
}

#nav-menu-exit img:hover {
    cursor: pointer;
}

#nav-button-menu ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
}

#nav-button-menu li p {
    margin: 0;
    padding: 3vh 0;
    font-size: 6vh;
    border-top: 1px solid white;
}

#nav-button-menu .sub-menu-title-wrapper {
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
}

#nav-button-menu .sub-menu-title-wrapper img {
    height: 5vh;
    width: 5vh;
    margin-left: 0.5vh;
}

#nav-button-menu li .sub-menu li p {
    font-size: 4vh;
}

#nav-button-menu .sub-menu-title-wrapper p {
    border-top: none;
}

#nav-button-menu .sub-menu-title-wrapper img {
    cursor: pointer;
}

#nav-button-menu p.active {
    color: var(--quickbite-gold);
}

.active {
    color: var(--quickbite-red)
}

#restaurant-info {
    font-size: 1rem;
    padding-top: 5rem;
}

h3 .logo-text {
    font-size: 1.17em;
    color: var(--quickbite-gold)
}

h1 .logo-text {
    color: var(--quickbite-gold);
    font-size: 2.5rem;
}

p .logo-text {
    color: var(--quickbite-gold);
    font-size: 1.2rem;
}

.logo-text.alt {
    color: var(--quickbite-red);
    font-size: 1.3rem;
}

.non-menu ul {
    max-width: 700px;
    margin: 0 auto;
}

.non-menu li {
    margin: 2.5rem auto 3.5rem auto;
}

.non-menu h2 {
    color: var(--quickbite-gold);
    margin: 0 auto 0.5rem auto;
    text-align: center;
}

.non-menu h3 {
    margin: 0 auto 0.5rem auto;
    text-align: center;
}

.non-menu p {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
}

.continue-prompt {
    margin: 3rem;
    text-align: center;
}

.continue-prompt h1 {
    margin-bottom: 1rem;
}

footer {
    height: 10.5rem;
    background-color: var(--quickbite-gold);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 1.2rem;
}

footer.alt {
    background-color: var(--quickbite-red);
}


#socialmedia-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5rem 0 1rem 0;
    margin: 0 auto;
}

#socialmedia-icons img {
    height: 1.75rem;
    margin: 0rem 0.5rem;
}

#line-break {
    display: block;
    margin: 0 auto;
    height: 1px;
    width: 90%;
    background-color:rgba(255, 255, 255, 0.5);
}

#created-by {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.5rem;
}

#portfolio-link {
    color: black;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

#portfolio-link img {
    height: 1.5rem;
    margin: 0;
}

@media (max-width: 700px) {
    #nav-button {
        display: block;
    }

    #nav-bar {
        display: none;
    }
}