:root {
 --quickbite-red: #e8574d;
 --quickbite-gold: #F19E39; 
}

html {
background-color: var(--quickbite-red);
padding: 0;
}

html.alt {
    background-color: #F19E39;
}

body {
    margin: 0;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

main {
    margin: 0 auto;
}

#welcome-section { 
    background-color: var(--quickbite-gold);
}

.landing {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    scroll-behavior: smooth;
}

.content {
    margin: 0 auto;
    padding: 0 1.2rem;
    max-width: 1000px;
}

#hero-image {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-height: 65vh;
    max-width: 1000px;
    padding: 5vh 0 5vh 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin: 3rem auto 2rem auto;
}

#welcome-section h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 3.5vh;
    font-weight: 600;
    color: white;
    margin: 0 auto 2vh auto;
    padding: 0 3vw;
    max-width: 1000px;
}

.logo-text-main {
    font-family: 'Grenze Gotisch', cursive;
    color: var(--quickbite-red);
    font-size: 4vh;
}


.logo-text {
    font-family: 'Grenze Gotisch', cursive;
    color: var(--quickbite-red);
}

#welcome-section .logo-text {
    font-size: 4vh;
}

nav {
    background-color: rgba(241, 158, 57, 0.9);
    /* background-color: rgba(255, 255, 255, 0.4); */
    display: flex;
    justify-content: space-between;
    height: 22vw;
    max-height: 8rem;
    position: sticky;
    top: 1vh;
    width: 100%;
    align-items: center;
}

nav.alt {
    background-color: rgba(232, 87, 77, 0.9);
}


#logo-small {
    opacity: 1;
    height: 6rem;
    margin: 1rem 1rem 1rem 2rem;
}

#nav-button {
    display: none;
    height: 34px;
    width: 34px;
    border: 1px transparent white;
    border-radius: 6px;
    margin: 1rem 1rem 1rem 5vw;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.nav-line {
    max-height: 2px;
    min-height: 2px;
    max-width: 23px;
    min-width: 23px;
    background-color: white;
    margin: 7px 6px;
}

#nav-bar {
    white-space: nowrap;
    display: flex;
    list-style: none;
    margin: 4.25rem 1rem;
    font-size: 1.5rem;
    color: white;
}

#nav-bar li p:hover {
    color: var(--quickbite-red);
}

#nav-bar li p.alt:hover {
    color: var(--quickbite-gold);
}

#nav-button-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--quickbite-red);
    margin: 0;
    display: none;
    height: 100vh;
    z-index: 10;
}

#nav-menu-exit img {
    display: block;
    margin: 5vh auto;
    height: 34px;
    width: 34px;
}

#nav-menu-exit img:hover {
    cursor: pointer;
}

#nav-button-menu ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
}

#nav-button-menu li p {
    margin: 0 auto;
    padding: 3vh;
    font-size: 6vh;
    border-top: 1px solid white;
}

.active {
    color: var(--quickbite-red)
}

.active.alt {
    
    color: var(--quickbite-gold);
}

#nav-bar li {
    margin: 0 1rem;
}

#restaurant-info {
    font-size: 1rem;
}

h3 .logo-text {
    font-size: 1.17em;
    color: var(--quickbite-gold)
}

h1 .logo-text {
    color: var(--quickbite-gold);
    font-size: 2.5rem;
}

p .logo-text {
    color: var(--quickbite-gold);
    font-size: 1.2rem;
}

.non-menu ul {
    max-width: 700px;
    margin: 0 auto;
}

.non-menu li {
    margin: 2.5rem auto 3.5rem auto;
}

.non-menu h2 {
    color: var(--quickbite-gold);
    margin: 0 auto 0.5rem auto;
    text-align: center;
}

.non-menu h3 {
    margin: 0 auto 0.5rem auto;
    text-align: left
}

.non-menu p {
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
}

.continue-prompt {
    margin: 3rem;
}

.continue-prompt h1 {
    margin-bottom: 1rem;
}

footer {
    height: 10.5rem;
    background-color: var(--quickbite-gold);
    border-top: 1px solid rgba(255, 255, 255, 0.5);;
    padding: 0 1.2rem;
}

#socialmedia-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5rem 0 1rem 0;
    margin: 0 auto;
}

#socialmedia-icons img {
    height: 1.75rem;
    margin: 0rem 0.5rem;
}

#line-break {
    display: block;
    margin: 0 auto;
    height: 1px;
    width: 90%;
    background-color:rgba(255, 255, 255, 0.5);
}

#created-by {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.5rem;
}

#portfolio-link {
    color: black;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

#portfolio-link img {
    height: 1.5rem;
    margin: 0;
}

@media (max-width: 1250px) {
    /* #nav-bar {
        font-size: 5vw;
    } */

    #logo-small {
        max-height: 20vw;
        margin: 1rem 1rem 1rem 2.5vw;
    }
}

@media (max-width: 700px) {
    #nav-button {
        display: block;
    }

    #nav-bar {
        display: none;
    }
}